nav {
    z-index: 150;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

nav a {
    margin-right: -1px;
    padding: 0 10px;
    border-bottom: none;
    border-radius: 6px;
    color: #444444b5;
    font-size: 1.8em;
    line-height: 32px;
    cursor: pointer;
}

nav .current {
    background: #8a97a014
}

a {
    color: #444444b5;
    text-decoration: none;
}

form {
    display: block;
    margin-top: 0em;
}

input[type=email], input[type=passwd], input[type=text],input[type=url],textarea{
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    border: 1px solid #e9e9e9;
    border-radius: 2px;
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

.col-mb-12{
    width: 100%;
}

.title{
    margin-top: 10px;
    color: #444444b5;
    text-align: center;
}

.description {
    position: relative;
    top: -1.2em;
    margin: .4em;
    color: #919191;
    text-align: center;
    font-size: 1em;
}

.search {
    position: relative;
    display: inline-block;
    padding-left: 10px
}

.search .text {
    margin: 0;
    padding: 0;
    width: 100px;
    outline: 0;
    border: none;
    background: 0 0;
    letter-spacing: -.625px;
    font-weight: 300;
    font-size: 1.7em;
    -webkit-transition: all cubic-bezier(.15, 1, .5, 1) .8s;
    -o-transition: all cubic-bezier(.15, 1, .5, 1) .8s;
    transition: all cubic-bezier(.15, 1, .5, 1) .8s
}

#header{
    padding-top: 35px;
}

@media screen and (min-width: 760px) {
    .title{
        font-size: 3em;
    }
    .description{
        font-size: 2em;
    }
    nav {
        text-align: center;
        font-weight: 200;
        font-size: 1em;
        line-height: 2em;
    }
}



